
<div class="container">
  <div class="row">
    
    <div class="col-6 card-margin" >
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <mat-card>
            <mat-card-title>Car Registration</mat-card-title>
            <mat-card-content>
              <form>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Full Name</mat-label>
                <input type="text" matInput [formControl]="name"
                       placeholder="Raushan Ranjan">
                <mat-error *ngIf="name.hasError('pattern') && !name.hasError('required')">
                  Name contains only character
                </mat-error>
                <mat-error *ngIf="name.hasError('required')">
                  Name is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="name.hasError('maxlength')">
                  Name must be less than 75 character
                </mat-error>
              </mat-form-field>
            </div>
          </div>
    
          <div class="row">
            <div class="col">

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Car List...</mat-label>
                <input type="text"
                       placeholder="Pick one"
                       aria-label="carList"
                       matInput
                       [formControl]="cars"
                       [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let car of filteredOptions | async" [value]="car">
                    {{car.brand}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="cars.hasError('required') && cars.touched">
                  Please Select atleast one car
                </mat-error>
              </mat-form-field>
            </div>
          </div>
    
          <div class="row">
            <div class="col">
              <mat-form-field class="example-chip-list" appearance="fill">
                <mat-label>Select Car Parts...</mat-label>
                <mat-chip-list #chipList aria-label="Car Part selection">
                  <mat-chip
                    *ngFor="let part of selectedPart"
                    (removed)="remove(part)">
                    {{part}}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                  <input
                    placeholder="select car part..."
                    #carPartRef
                    [formControl]="carParts"
                    [matAutocomplete]="carPartAuto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #carPartAuto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let fruit of filterCarParts | async" [value]="fruit['List-of-auto-parts']">
                    {{fruit['List-of-auto-parts']}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="selectedPart.length === 0 && cars.touched">
                  Please select atleast one car part
                </mat-error>
              </mat-form-field>
            </div>
          </div>   
          
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Select desired color for car</mat-label>
                <input type="color" matInput [formControl]="colorCar"
                       placeholder="Raushan Ranjan">
               
                <mat-error *ngIf="name.hasError('required')">
                  Please select color
                </mat-error>
             
              </mat-form-field>
            </div>
          </div> 
              </form>
              
            </mat-card-content>
          
          </mat-card>
        </div>
      </div>
     
      
    </div>

    <div class="div col-6 card-margin">
     <div class="row">
       <div class="col-md-8 offset-md-2">
        <mat-card>
          <mat-card-title>
            Summary
          </mat-card-title>
          <mat-card-content>
           
            <div> Full Name : <span><strong>{{name?.value}}</strong></span></div>
            <div>  Selected Cars: <span><strong>{{cars?.value.brand}}</strong></span></div>
            <div>  Selected color: <span><strong><span class="color-pick" [ngStyle]="{'color':colorCar.value}">{{colorCar.value === '#ffffff' ? 'white' : colorCar.value}}</span></strong></span></div>

            <div>  Selected Car Parts: 
              <ol>
                <li *ngFor="let parts of selectedPart"><strong>{{parts}}</strong></li>
               
              </ol> 
            </div>

          </mat-card-content>
        </mat-card>

       </div>
     </div>
    </div>
  </div>
</div>